<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About WorthyQuotes</h1>


	 <p> WorthyQuotes was built by <a target="_blank" href="https://www.facebook.com/thethtut.oo">Thet Htut Oo</a> &amp; <a target="_blank" href="https://www.facebook.com/akyilay07?fref=ts">May Thin Kyi</a>. Two lovers on the love journey and life voyage to share their quotes and life lessons.</p> 
	 <br /> 
	 <p> They have been lovers for 6 years and they have face many difficulties together. So they know how to help when someone is heartbroen or downhearted.</p> 
	 <p> If you want to learn how to code - find an awesome course <a target="_blank" href="http://www.firehoseweekend.com/"> here</a>. </p>


	 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'tho.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Thet Htut Oo</h2>
    <br />
    <p>

    	Thet Htut Oo is a jack of all trades. He knows all but he does not master most of the subjects. The subjects he is going to master are computer languages. He is in love for 6 years and he hopes to continue his love and tag along with his gf for many years. He likes to compose poems and lyrics for her. As he has faced so many problems to getting along with girlfriend, he could share many exps how to manage relationships.
      
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'may.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">May Thin Kyi</h2>
    <br />
    <p>
      
      May Thin Kyi is a pratical girl. She likes to do things in her easy way and most of the time , she is easygoing. She loves to read books and watch movies. Because she watches so many movies, she learns so many quotes from them and sometimes like to share strange quotes and intersting ones.
    </p>
  </div>


</div>