@font-face {
    font-family: 'risqueregular';
    src: url('risque-regular-webfont.eot');
    src: url('risque-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('risque-regular-webfont.woff') format('woff'),
         url('risque-regular-webfont.ttf') format('truetype'),
         url('risque-regular-webfont.svg#risqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}